<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{> header-content-menubar}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">This Repo</a>
          <div class="navbar-dropdown">
            {{#if (and page.attributes.gitlab-owner page.attributes.gitlab-repo)}}
            <a class="navbar-item" href="https://gitlab.com/{{page.attributes.gitlab-owner}}/{{page.attributes.gitlab-repo}}">git (@gitlab)</a>
            <a class="navbar-item" href="https://gitlab.com/{{page.attributes.gitlab-owner}}/{{page.attributes.gitlab-repo}}/pipelines">CI (@ gitlab)</a>
            {{/if}}
            <a class="navbar-item" href="{{site.url}}">Published</a>
            {{> header-content-menubar-this-repo}}
          </div>
        </div>
        {{> header-content-menubar-1}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <div class="navbar-item">Code</div>
            <a class="navbar-item" href="https://github.com/incodehq/">Github - incodehq</a>
            <a class="navbar-item" href="https://bitbucket.org/incodehq/">BitBucket - incodehq</a>
            <a class="navbar-item" href="https://gitlab.com/incodehq-public">Gitlab - incodehq-public</a>
            <a class="navbar-item" href="https://gitlab.com/incodehq-private">Gitlab - incodehq-private</a>
            <hr class="navbar-divider">
            <div class="navbar-item">Binaries</div>
            <a class="navbar-item" href="https://jenkins.ecpnv.com">Jenkins @ECP</a>
            <a class="navbar-item" href="https://repo.incode.work">repo.incode.work</a>
            <a class="navbar-item" href="https://repo.ecp.incode.work">repo.ecp.incode.work</a>
            <a class="navbar-item" href="https://cloud.docker.com/u/incodehq">Docker Hub - incodehq</a>
            <hr class="navbar-divider">
            <div class="navbar-item">Deploy &amp; Ops</div>
            <a class="navbar-item" href="https://bitbucket.org/incodehq/stacks">Stacks</a>
            <a class="navbar-item" href="https://portainer.ecpnv.com">Portainer @ECP</a>
            <a class="navbar-item" href="http://syslog.prd.ecpnv.com:5601/app/kibana">Kibana @ECP</a>
            {{> header-content-menubar-services}}
          </div>
        </div>
        {{> header-content-menubar-2}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Teamwork</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://meet.google.com/_meet?authuser=0">Google Meet (standups)</a>
            <hr class="navbar-divider">
            <div class="navbar-item">Incode</div>
            <a class="navbar-item" href="https://incodehq.atlassian.net">Jira</a>
            <a class="navbar-item" href="https://incodehq.slack.com">Slack</a>
            <hr class="navbar-divider">
            <div class="navbar-item">ECP</div>
            <a class="navbar-item" href="https://teams.microsoft.com/_?tenantId=21cbfe66-818d-4633-8a72-8ac4902905bb">MS Teams</a>
            <hr class="navbar-divider">
            <div class="navbar-item">Downloads</div>
            <a class="navbar-item" href="https://www.teamviewer.com/en/">TeamViewer (misc)</a>
            <a class="navbar-item" href="https://www.realvnc.com/en/connect/download/viewer/">VNC Viewer</a>
            {{> header-content-menubar-teamwork}}
          </div>
        </div>
        {{> header-content-menubar-3}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Docs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://incode-docs.appspot.com">Incode Docs</a>
            <a class="navbar-item" href="https://isis.apache.org/documentation.html">Apache Isis (Docs)</a>
            <a class="navbar-item" href="https://platform.incode.org">Incode Platform</a>
            {{> header-content-menubar-docs}}
          </div>
        </div>
        {{> header-content-menubar-4}}
        <a class="navbar-item" href="https://incode.org">
          <span class="icon">
            <img src="{{ relativize @root.page.url '/_/img/incode_logo.png' }}"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
