article.doc a[href^="http:"]::after,
article.doc a[href^="https:"]::after {
  content: url("../img/external-link_font-awesome.svg");
  background-size: 1em 1em;
  display: inline-block;
  padding-left: 5px;
  margin-right: 5px;
  width: 1em;
  height: 1em;
}

article.doc a[href^="http:"][target="_blank"],
article.doc a[href^="https:"][target="_blank"] {
  text-decoration: underline solid;
}

article.doc a[href='#'] {
  color: red;
}
