.main-view-and-toc {
  display: flex;
  flex-direction: column-reverse;
}

.main-view-and-toolbar {
  /* min-width: 0 required for flexbox to constrain overflowing elements */
  min-width: 0;
}

@media screen and (min-width: 1024px) {
  .main-view-and-toolbar {
    width: 100%;
  }

  .main-view-and-toc {
    flex-direction: row;
  }
}
