:root {
  --toc-gradient-start-color: #2c2c2c;
  --toc-gradient-end-color: #8e8e8e;
  --toc-link-hover-color: #104d92;
  --toc-weight-medium: 500;
}

.toc {
  /* basically the same as the .doc element so that the flex treats them the same */
  flex: auto;
  margin: 1rem auto;
  max-width: 40rem;
  width: 100%;
  padding: 0 1rem;
}

.toc-menu {
  width: auto;
  border: 0 solid black;
  border-width: 0 0 0 0.25rem;
  border-image: linear-gradient(var(--toc-gradient-start-color), var(--toc-gradient-end-color)) 0 0 0 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.toc .toc-menu ul {
  font-size: 0.875rem;
  line-height: 1.3;
  list-style: none;
  padding: 0;
}

.toc .toc-menu h3 {
  font-size: 0.9375rem;
  font-weight: var(--toc-weight-medium);
  margin: 0;
}

.toc-menu a {
  color: inherit;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toc-menu a:hover {
  color: var(--toc-link-hover-color);
  text-decoration: underline;
}

.toc-menu a.is-active {
  font-weight: var(--toc-weight-medium);
  letter-spacing: -0.008em;
}

@media screen and (min-width: 1024px) {
  .toc {
    min-width: 10rem;
    max-width: 15rem;
    padding: 1rem 0;
  }

  .toc-menu {
    position: fixed;
    max-height: 60%; /* allows room for footer and forces scrollbars */
    overflow-y: auto;
  }
}
